Repository HendrixMM/pharmaceutical-rag-knowledge-expert: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-metadata-check, docs-linkcheck

Path conditions:
  docs-metadata-check: any of: ^docs/.*\.md$, but not: (?x)^(
    tmptest/.*|
    tmptest2/.*|
    pubmed_cache/.*|
    \.git/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    venv/.*|
    env/.*|
    build/.*|
    dist/.*
)$

  docs-linkcheck: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
    tmptest/.*|
    tmptest2/.*|
    pubmed_cache/.*|
    \.git/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    venv/.*|
    env/.*|
    build/.*|
    dist/.*
)$


docs/security: link in TOC and README; fix metadata cadence; add secrets-baseline target; make scripts portable
  .env.example
  .gitignore
  MCP_INTEGRATION.md
  Makefile
  README.md
  docs/MAINTAINERS.md
  docs/_shared/toc.md
  docs/security/history-redaction.md
  docs/security/key-rotation-tracker.md
  scripts/git_history_cleanup.sh
  scripts/identify_secrets_in_history.sh
  scripts/setup_github_mcp.sh
  scripts/verify_github_mcp.sh
  scripts/verify_history_cleanup.sh
Due: docs-metadata-check, docs-linkcheck

fix(security tooling): correct history verification logic; update changelog; wire security target
  CHANGELOG.md
  Makefile
  scripts/git_history_cleanup.sh
  scripts/setup_github_mcp.sh
  scripts/verify_history_cleanup.sh
Due: none

chore(gitignore): fix trailing whitespace
  .gitignore
  scripts/git_history_cleanup.sh
Due: none

ci(security): format workflow with prettier
  .github/workflows/security-verification.yml
Due: none

chore(Makefile): add secrets-baseline to help output
  Makefile
Due: none

fix(bfg patterns): remove blanket entries; emit only discovered fingerprints; stop double-prefixing nvapi
  scripts/identify_secrets_in_history.sh
  scripts/sensitive-patterns.txt
Due: none

chore(scanner): add placeholder filtering and optional BFG mapping; discovered-only fingerprints
  scripts/identify_secrets_in_history.sh
  scripts/sensitive-patterns.txt
Due: none

fix(verification): scope NVIDIA pattern check to .env history; ensure BFG patterns list only discovered fingerprints
  scripts/verify_history_cleanup.sh
Due: none

feat(verification): add optional sensitive-patterns check and strict Makefile target
  Makefile
  scripts/verify_history_cleanup.sh
Due: none

chore(verification): skip known benign email domains/placeholders; print matched pattern in strict mode
  scripts/verify_history_cleanup.sh
Due: none

chore(verification): include first commit line containing matched fingerprint for faster triage
  scripts/verify_history_cleanup.sh
Due: none

feat(scanner): emit BFG mapping patterns that replace full assignments using safe prefixes; default to mapping mode
  scripts/identify_secrets_in_history.sh
  scripts/sensitive-patterns.txt
Due: none

feat(scanner): add email assignment mappings (full assignment replacement to redacted@example.com)
  scripts/identify_secrets_in_history.sh
  scripts/sensitive-patterns.txt
Due: none

chore(security-sanity): remove shebang to satisfy pre-commit executable hook
  .github/workflows/security-verification.yml
  Makefile
  scripts/validate_bfg_patterns.py
Due: none

chore(scanner): regenerate BFG mapping patterns with single-backslash regex (\S*)
  scripts/identify_secrets_in_history.sh
  scripts/sensitive-patterns.txt
Due: none

chore: pre-commit cleanup (codespell ignore, JSON exclude, test indentation, file modes, bandit stage tweak); fix OpenAI wrapper var name; dedupe mesh JSON
  .github/workflows/benchmark_orchestration.yml
  .pre-commit-config.yaml
  Data/mesh_therapeutic_areas.json
  scripts/env_local_rerank.sh
  scripts/gh_actions_logs.sh
  scripts/gh_actions_runs.sh
  scripts/gh_auth_check.sh
  scripts/gh_code_search.sh
  scripts/gh_dependabot_alerts.sh
  scripts/gh_file_get.sh
  scripts/gh_issue_create.sh
  scripts/gh_issue_list.sh
  scripts/gh_pr_comment.sh
  scripts/gh_pr_list.sh
  scripts/gh_wrap.sh
  scripts/pharma_benchmarks_cli.py
  scripts/setup_github_mcp.sh
  scripts/start_local_rerank.sh
  scripts/validate_env.py
  scripts/verify_github_mcp.sh
  src/clients/openai_wrapper.py
  tests/test_nemo_extraction_integration.py
  tests/test_pharmaceutical_filters.py
Due: none

chore: remove accidental .env.local and backup tar; update .gitignore
  .env.local
  .gitignore
  docs-backup-20251003-154808.tar.gz
Due: none

docs: enhance API_REFERENCE.md with comprehensive examples and edge cases (Phase 2 partial)
  docs/API_REFERENCE.md
  docs/API_REFERENCE_OLD.md
Due: docs-metadata-check, docs-linkcheck

docs: enhance EXAMPLES.md with 40+ runnable code examples (Phase 3)
  docs/EXAMPLES.md
  docs/EXAMPLES_OLD.md
Due: docs-metadata-check, docs-linkcheck

ci: auto-open PRs for feature and docs branches via Actions
  .github/workflows/auto_open_pr.yml
Due: none

docs: create comprehensive BENCHMARKS.md (Phase 4)
  docs/BENCHMARKS.md
Due: docs-metadata-check, docs-linkcheck

ci: harden auto PR workflow with head-only PR check and error fallback
  .github/workflows/auto_open_pr.yml
Due: none

docs: add Mermaid diagnostic decision tree to TROUBLESHOOTING_GUIDE.md (Phase 5)
  docs/TROUBLESHOOTING_GUIDE.md
Due: docs-metadata-check, docs-linkcheck

docs: add MkDocs configuration with Material theme (Phase 6)
  docs/javascripts/mathjax.js
  docs/stylesheets/extra.css
  mkdocs.yml
  requirements-dev.txt
Due: none

docs(README): add CI badge, license badge, issues link, and project links for professional polish
  README.md
Due: docs-linkcheck

docs: add validation scripts and fix broken links (Phase 7)
  docs/EXAMPLES.md
  scripts/validate-docs.sh
Due: docs-metadata-check, docs-linkcheck

docs: fix internal links for docs/ context; resolve linkcheck failures
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/QUICK_START.md
  docs/SECURITY.md
  docs/SUPPORT.md
  docs/index.md
Due: docs-metadata-check, docs-linkcheck

ci: skip secret-dependent and heavy test jobs on PR; run them on push/workflow_dispatch
  .github/workflows/pharmaceutical_testing.yml
  .github/workflows/tests.yml
Due: none

docs(readme): UI/UX formatting polish; content unchanged
  README.md
Due: docs-linkcheck

README.md
  README.md
Due: docs-linkcheck
